@font-face {
    font-family: bodoni;
    src: url(Bodoni_Moda_SC/BodoniModaSC-VariableFo);
}

/* .newfont {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */